# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# Local tfvars (contains secrets)
terraform.tfvars
*.auto.tfvars

# OS
.DS_Store
Thumbs.db

# Python bytecode
__pycache__/
*.pyc


# ship control panel
ship-control-panel/node_modules
ship-control-panel/.next
ship-control-panel/.env*
