# Rename to terraform.tfvars

# Use a published image. We'll add a GitHub Actions workflow to build/push it.
image = "ghcr.io/CHANGE-ME/aisoc-runner:latest"

# Optional
location = "westeurope"
# enable_writes = false
